/*.carouselText {
    background-color: rgba(159, 21, 145, 0.511);
    float: left;
}
*/
.carousel-caption{
    background-color: rgba(124, 16, 113, 0.45);
    color: #fff;
    padding: 10px;
    top: 10px;
    bottom: auto;
    left: 0;
    right: auto;
    text-align: left;
    margin-left: 40px;
    width: 300px;
}